.panel__window {
  height: 100%;
  overflow: auto;
  background-color: "#EEE";
}

.panel__window__create {
  &:hover {
    cursor: crosshair;
  }
}

.panel__unit {
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 8px;

  &:hover {
    box-shadow: 0px 0px 3px #000;
  }
}
