.toolbar__base {
  transition: all 0.5s;
  width: 300px;
  height: 10px;
  border: 2px solid #a683dd;
  background-color: rgba($color: #9765ec, $alpha: 0.3);
  border-radius: 40px;
  position: fixed;
  bottom: 7vh;
  left: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  color: #FFFFFF;


  .toolbarItem {
    transition: all 0.5s;
    transform: scaleY(0);
  }
}

.toolbar__active {
  height: 80px;
  background-color: rgba($color: #9765ec, $alpha: 1.0);

  .toolbarItem {
    visibility: unset;
    transform: unset;

    &:hover {
      cursor: pointer;
    }
  }
}