.content {
  display: flex;
  padding: 10px 0;
  width: 20vw;
  height: 100%;
  background-color: #FFF;
  border-radius: 0 10px 10px 0;
  box-shadow: 1px 1px 5px #777;
  z-index: 9;
  position: relative;
}

.sidebarItem {
  &:hover {
    cursor: pointer;
  }
}